#header {
  @extend %header-base;
  background-color: $cor_verde_claro_fundo;
  color: $cor_branco;

  #logo {
    i {
      color: $cor_branco;
    }
  }
}

#header_secundary {
  @extend %header-base;
  background-color: $cor_branco;
  color: $cor_verde_claro_fundo;

  #logo {
    i {
      color: $cor_verde_claro_fundo;
    }
  }
}