header {
  background-color: $cor_lilas_claro_fundo;
  color: $cor_branco;
  padding: 1.6rem 3.2rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.1);

     h2 {
        font-size: tamanho_logo;
    }
}