#main_init {
  max-width: 75rem;
  margin: 6rem auto;
  padding: 0 2rem;
  text-align: center;

    #main_init-h2{
        font-size: $tamanho_h1_padrao;
        margin-bottom: 1.8rem;
        color: #000000;
    }
 
    #main_init-description{
      @include texto-base();
      margin-bottom: 2.4rem;
    }
      
    #main_init-btn{
        @include botao-base();
    }
}