$cor_lilas_claro_fundo: #b388eb;
$cor_branco: #f4f4f4;
$cor_preto: #333;
$cor_cinza_escuro: #586069;
$cor_cinza_claro: #e1e4e8;

$fonte_familia: sans-serif;

$tamanho_p_padrao: 1.6rem;
$tamanho_h1_padrao: 3rem;
$tamanho_logo_padrao: 2rem;
$tamanho_texto_discreto:  0.9rem;