$cor_verde_claro_fundo: #679756;
$cor_branco: #f4f4f4;
$cor_preto: #333;
$cor_preto_Azulado:#24292f;
$cor_borda_btn:#1b1f23;
$cor_cinza_escuro: #454c53;
$cor_cinza_claro: #e1e4e8;


$fonte_familia: sans-serif;

$line_height_padrao:2.2rem;

$tamanho_p_padrao: 1.6rem;
$tamanho_h1_padrao: 3rem;
$tamanho_logo_padrao: 2rem;
$tamanho_texto_discreto:  0.9rem;